
.
    <ion-tabs class="tabs-icon-top "> 
       
        <ion-tab title="Abiertas"  href="#/menu-lateral/legalizacion/abiertas">
               <ion-nav-view name="abiertas-tab"></ion-nav-view>
         </ion-tab>
        
        <ion-tab title="Pendientes"  href="#/menu-lateral/legalizacion/pendientes">
               <ion-nav-view name="pendientes-tab"></ion-nav-view>
         </ion-tab>

         <ion-tab title="Aprobadas"  href="#/menu-lateral/legalizacion/aprobadas">
               <ion-nav-view name="aprobadas-tab"></ion-nav-view>
         </ion-tab>
        
        <ion-tab title="En SAP B1"  href="#/menu-lateral/legalizacion/enviadas">
               <ion-nav-view name="enviadas-tab"></ion-nav-view>
         </ion-tab>
        
        
<script id="cargando-modal.html" type="text/ng-template">
  <ion-modal-view>    
    <ion-content>
           <div class="modal-fondo">
            <div class="modal-content">
                <center>
                    <div class="modal-cuerpo">
                        <div class="modal-contenido-interno">
                            <div class="title-modal-interno">
                            
            </div><br/>
                          <div style="background:#2A3665; margin-top: -20px"> <img src="img/2Nw0tFJ4RPe3DoIBtiq9_logo-legalisapp.png" class="logo-inicio" height="40%" width="90%"></div><br/>
                                   <h3>Cargando ...</h3>
                                   <br/>
                         
                        </div>
                    </div>
                </center>
            </div> 
        </div>
    </ion-content>
  </ion-modal-view>
</script>
       

</ion-tabs>


 