<ion-view title="NUEVA FACTURA" id="pgNuevaFactura" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="nuevaFacturaForm" class="list espacio-form-40" name="$parent.nuevaFacturaForm"  novalidate>
            <table class="ancho-100 borde-datos fondo-datos-superior espacio-form-40" cellspacing ="0" >
                <tr>
                    <td class="borde-datos fondo-datos-azul letra-blanca" colspan="3">Perfil: {{legalizacion.nombrePerfil}}  -  Grupo: {{legalizacion.nombreGrupo}}</td>
                </tr>         
            </table><br/>
            <h4>Proveedor</h4>
            <label class="item item-select perfil" id="lblTipoDoc" >
                <span class="input-label">Tipo de Documento</span>
                <select ng-model="factura.tipoDoc" ng-options="x.opcion for x in opcion_tipoDoc" id="tipoDoc" name="tipoDoc"></select>
            </label>
            <br/>

            <label class="" ng-class="{'has-error':nuevaFacturaForm.documentoProveedor.$invalid && nuevaFacturaForm.documentoProveedor.$touched}">
                <input type="text" placeholder="Documento *" id="documentoProveedor" name="documentoProveedor" ng-model="factura.documento" required="true"  ng-keyup="cancelev($event)">
                <span ng-if="nuevaFacturaForm.documentoProveedor.$invalid && nuevaFacturaForm.documentoProveedor.$dirty" ></span>
            </label>
            <span ng-if="nuevaFacturaForm.documentoProveedor.$error.required && nuevaFacturaForm.documentoProveedor.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>
            <br/>

            <h4>Información de la Factura</h4>
            <table class="ancho-100"><tr><td class="ancho-15 vertical-align-inherit">Fecha: </td><td class="ancho-85">
                        <label class="" ng-class="{'has-error':nuevaFacturaForm.fechaFactura.$invalid}">
                            <input type="date" placeholder="Fecha" id="fechaFactura" name="fechaFactura"  ng-model="factura.fecha" required="true" ng-keyup="cancelev($event)" class="e-color ancho-100">
                            <span ng-if="nuevaFacturaForm.fechaFactura.$invalid" ></span>

                        </label>
                    </td></tr></table>
            <span ng-if="nuevaFacturaForm.fechaFactura.$error.required" class="help-block e-message">Campo requerido, debe seleccionar un valor</span>
            <br/>

            <label class="" ng-class="{'has-error':nuevaFacturaForm.referencia.$invalid && nuevaFacturaForm.referencia.$touched}">
                <input id="referencia" name="referencia" type="text" placeholder="Referencia *" ng-model="factura.referencia"  ng-keyup="cancelev($event)" required="true" class="e-color">
                <span ng-if="nuevaFacturaForm.referencia.$invalid && nuevaFacturaForm.referencia.$dirty" ></span>
            </label>
            <span ng-if="nuevaFacturaForm.referencia.$error.required && nuevaFacturaForm.referencia.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>

            <br/>

            <label class="item item-select perfil" id="lblMoneda">
                <span class="input-label">Moneda</span>
                <select ng-model="factura.moneda" ng-options="x.opcion for x in opcion_moneda" required="true" id="moneda" name="moneda"></select>                
            </label>
            <br/>
            <label class="">
                <input id="notas" name="notas" type="text" placeholder="Notas" ng-model="factura.comentarioLine"  ng-keyup="cancelev($event)" class="e-color">
            </label>
            <br/>

            <h4>Adjunto</h4>
            <center>
                <!--<input id="adjunto" name="adjunto" type="text" placeholder="Adjunto" ng-model="factura.adjunto"  ng-keyup="cancelev($event)" class="e-color">-->
                <div class="button-bar borde-grupo-boton">
                    <button class="button button-full button-positive-grupo borde-grupo-boton" ng-click="takePhoto()">Tomar Foto</button>
                    <button class="button button-full button-positive-grupo borde-grupo-boton" ng-click="choosePhoto()">Elegir Foto</button>
                </div> 
                <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="text-center">
            </center>
            <!--            <button class="button  button-full button-positive" ng-click="openModalImagen()">Seleccione un Archivo</button>
                        <div class="title"><a class="button button-full button-positive" ng-click="filepathChooser()">Seleccione un Archivo</a></div>
                        <div ng-show="picData" class="item item-image">De clic en la imagen si es la deseada!<img id="myImage" class="item" ng-src="{{picData}}" ng-click="convertirImagen(picData)" style="height:200px;"/></div>-->

        </form>
    </ion-content>

    <!--    <script id="templates/adjunto-modal.html" type="text/ng-template">
            <ion-modal-view>
            <ion-header-bar>
            <h1 class="title">Adjunto</h1>
            </ion-header-bar>
            <ion-content>
            
             <div class="title btn-group"><a class="button button-full button-positive" ng-click="filepathChooser()">Seleccionar Archivo</a> 
                                <a class="button button-full button-positive" ng-click="filepathChooser()">Tomar Foto</a></div>
                                
             <div ng-show="picData" class="item item-image">De clic en la imagen si es la deseada!<img id="myImage" class="item" ng-src="{{picData}}" ng-click="convertirImagen(picData)" style="height:200px;"/></div>
             <div class="btn-group">
                <button class="button button-full button-positive" ng-click="closeModalImagen()">Cancelar</button>
                <button class="button  button-full button-positive" ng-click="confirmarModalImagen()">Aceptar</button>
             </div>
            </ion-content>
            </ion-modal-view>
        </script>-->

    <ion-footer-bar align-title="center" class="letra-blanca" id="footer-legalizacion"> 
        <div class="title"><a  id="nuevo-Factura-btn-crear" class=" button button-positive  button-block " ng-click="crearfact(factura, nuevaFacturaForm)">CREAR</a></div>

    </ion-footer-bar>
</ion-view>