<ion-view title="REQUISICIONES" id="pg-tab-requisicion" class="">
    <ion-content has-header="true" padding="true" >                    
        <ion-list class="list-datos">
            <ion-item class="item-remove-animate item-avatar item-icon-right item-abiertas aitemLega" id="reqAbiertas" ng-repeat="requisicion in requisiciones" type="item-text-wrap" href="#/menu-lateral/requisicion/abiertas/{{requisicion.entryReqMovil}}">
                <!--<img ng-src="{{requisicion.face}}">-->
                <p class="item-content-legalizacion">ID: {{requisicion.entryReqMovil}}</p>
                <p class="item-content-legalizacion">Descripción: {{requisicion.descripcion}}</p>
                <p class="item-content-legalizacion">Perfil: {{requisicion.perfilNombreAux}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>         
                <ion-option-button class="button-assertive button-enviar" ng-click="enviarRequisicion(requisicion)" ng-style="estilolink">
                    <span  class="perfil-btn-remover"><img ng-src="img/icon-enviar.png" class="icon-informacion margin-left-p3"><br/>
                        <label class="margin-left-p1">Enviar</label></span>
                </ion-option-button>
                <ion-option-button class="button-assertive button-editar" ng-click="iritem(requisicion)" ng-style="estilolink">
                    <span  class="perfil-btn-remover"><img ng-src="img/icon-factura.png" class="icon-informacion margin-left-9"><br/>
                        <label class="margin-left-5">Editar</label></span>
                </ion-option-button>
                <ion-option-button class="button-assertive button-eliminar" ng-click="eliminarRequisicion(requisicion)" ng-style="estilolink">
                    <span  class="perfil-btn-remover"><img ng-src="img/icon-eliminar.png" class="icon-informacion margin-left-5"><br/>
                        <label class="margin-left-5">Eliminar</label></span>
                </ion-option-button>
            </ion-item><br/>
        </ion-list>
    </ion-content>

    <ion-footer-bar align-title="center" class="letra-blanca" id="footer-legalizacion"> 
        <div class="title"><a ui-sref="menu.nueva-requisicion"  class="button button-positive button-block perfil-button-nuevo">NUEVA REQUISICIÓN</a></div>
    </ion-footer-bar>
    
      

</ion-view>