
<ion-view title="DETALLE REQUISICIÓN" id="pgRequisicion" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="detalleRequisicionForm" class="list" name="detalleRequisicionForm">



            <label class="item item-select perfil" id="lblPerfilRequisicion" ng-class="">
                <span class="input-label">Perfil</span>
                <select ng-model="requisicion.entryPerfilMovil" ng-options="x.perfilGrupo for x in opcion_perfil"  id="perfilRequisicion" name="perfilRequisicion" disabled="true"></select>
            </label>
            <br/>

            <!--            <label class="">
                            <input id="descripcionRequisicion" name="descripcionRequisicion" type="text" placeholder="Descripción" ng-model="requisicion.descripcion"  ng-keyup="cancelev($event)" class="e-color">
                        </label>
                        <br/>-->


            <label class="" ng-class="{'has-error':detalleRequisicionForm.descripcionRequisicion.$invalid && detalleRequisicionForm.descripcionRequisicion.$touched}">
                <input type="text" placeholder="Descripción" id="descripcionRequisicion" name="descripcionRequisicion" ng-model="requisicion.descripcion" required  ng-keyup="cancelev($event)" class="e-color">
                <span ng-if="detalleRequisicionForm.descripcionRequisicion.$invalid && detalleRequisicionForm.descripcionRequisicion.$dirty" ></span>
            </label>
            <span ng-if="detalleRequisicionForm.descripcionRequisicion.$error.required && detalleRequisicionForm.descripcionRequisicion.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>
            <br/> 



        </form>
        <ion-footer-bar align-title="center" class="letra-blanca footer-initial" id="footer-legalizacion"> 
            <div class="title"><a  id="nuevo-legalizacion-btn-crear" class=" button button-positive  button-block " ng-click="editarreq(requisicion, detalleRequisicionForm)">EDITAR</a></div>
        </ion-footer-bar>
    </ion-content>
</ion-view>