<ion-view title="NUEVO ITEM" id="pgNuevoItem" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="nuevoItemForm" class="list espacio-form-40" name="$parent.nuevoItemForm"  novalidate>
            <table class="ancho-100 borde-datos fondo-datos-superior espacio-form-40" cellspacing ="0" >
                <tr>
                    <td class="borde-datos fondo-datos-azul letra-blanca" colspan="3">Perfil: {{itemCabecera.nombrePerfil}}  -  Grupo: {{itemCabecera.nombreGrupo}}</td>
                </tr>         
            </table><br/>


            <label class="item item-select perfil" id="lblTipo">
                <span class="input-label">Tipo</span>
                <select ng-model="item.tipo" ng-options="x.opcion for x in opcion_tipo" required="true" id="tipo" name="tipo" ng-change="filtroArticulo()"  ng-keyup="cancelev($event)"></select>                
            </label>
            <br/>

            <label class="item item-select perfil" id="lblTipoReq">
                <span class="input-label">Req. Tipo</span>
                <select ng-model="item.reqTipo" ng-options="y.opcion for y in opcion_reqtipo" required="true" id="reqTipo" name="reqTipo" ng-change="filtroArticulo()"  ng-keyup="cancelev($event)"></select>                
            </label>
            <br/>   

             <table class="">
                <tr>
                    <td class="td-sincronizar-image">
                        <a href="" name=""  ng-click="sincronizarArticulos()"><img ng-src="img/icon-sincronizacion-art.png" class="icon-sincronizar"></a>
                    </td>
                    <td class="td-sincronizar-text" >
                        <h5>Articulo o Servicio</h5>
                    </td>
                </tr>
            </table>

            <div class="item disable-tipogto">
                <ion-search-select title="Seleccione un  Item" key-property="articuloNombre" value-property="articuloNombre" options="opcion_articulo" option-selected="item.articulo">
                    <label class="item item-input-inset" style="border:none;padding: 0px;cursor: pointer;" >
                        <div class="item-input-wrapper">
                            <i class="icon ion-ios-search"></i>
                            <input type="text" ng-model="item.articulo.articuloNombre" ng-change="dataArticulo()"  placeholder="Buscar" disabled class="buscar-tipogto" name="articuloB" id="articuloB"  ng-keyup="cancelev($event)">
                        </div>
                    </label>
                </ion-search-select>
            </div>
            <br/> 
             <div ng-if="item.tipo.valor === '0' || item.tipo.valor === 0">
             <label ng-if="item.articulo.articuloNombre === 'N-A'" class="" ng-class="{'has-error':nuevoItemForm.descripcion10.$invalid && nuevoItemForm.descripcion10.$touched}">
                <input id="descripcion" name="descripcion10" type="text" placeholder="Descripción *" ng-model="item.descripcion"  ng-keyup="cancelev($event)" required="true" class="e-color">
                <span ng-if="nuevoItemForm.descripcion10.$invalid && nuevoItemForm.descripcion10.$dirty" ></span>
            </label>
            <span ng-if="nuevoItemForm.descripcion10.$error.required && nuevoItemForm.descripcion10.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>
          
            <label ng-if=" item.articulo.articuloNombre !== 'N-A' " class="" ng-class="{'has-error':nuevoItemForm.descripcion11.$invalid && nuevoItemForm.descripcion11.$touched}">
                <input id="descripcion" name="descripcion11" type="text" placeholder="Descripción" ng-model="item.descripcion"  ng-keyup="cancelev($event)" class="e-color">
                <span ng-if="nuevoItemForm.descripcion11.$invalid && nuevoItemForm.descripcion11.$dirty" ></span>
            </label>
            <span ng-if="nuevoItemForm.descripcion11.$error.required && nuevoItemForm.descripcion11.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>
             </div>
            
             <label ng-if="item.tipo.valor === '1' || item.tipo.valor === 1" class="" ng-class="{'has-error':nuevoItemForm.descripcion00.$invalid && nuevoItemForm.descripcion00.$touched}">
                <input id="descripcion" name="descripcion00" type="text" placeholder="Descripción *" ng-model="item.descripcion"  ng-keyup="cancelev($event)" required="true" class="e-color">
                <span ng-if="nuevoItemForm.descripcion00.$invalid && nuevoItemForm.descripcion00.$dirty" ></span>
            </label>
            <span ng-if="nuevoItemForm.descripcion00.$error.required && nuevoItemForm.descripcion00.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>
            
            <br/>

            <table class="ancho-100"><tr><td class="ancho-15 vertical-align-inherit">Fecha Recepción: </td><td class="ancho-85">
                        <label class="" ng-class="{'has-error':nuevoItemForm.fechaItem.$invalid && nuevoItemForm.fechaItem.$touched}">
                            <input type="date" placeholder="Fecha Recepcion" id="fechaItem" name="fechaItem"  ng-model="item.fecha" required="true" ng-keyup="cancelev($event)" class="e-color ancho-100">
                            <span ng-if="nuevoItemForm.fechaItem.$invalid && nuevoItemForm.fechaItem.$dirty" ></span>
                        </label>
                    </td></tr></table>
            <span ng-if="nuevoItemForm.fechaItem.$error.required && nuevoItemForm.fechaItem.$touched" class="help-block e-message">Campo requerido, debe seleccionar un valor</span>
            <br/>

            <label ng-if="item.tipo.valor === '1'" ng-class="{'has-error':nuevoItemForm.cantidadsolicitada1.$invalid && nuevoItemForm.cantidadsolicitada1.$touched}">
                <input id="cantidadsolicitada" name="cantidadsolicitada1" type="number" placeholder="Cantidad Solicitada *" ng-model="item.cantidadSolicitada"  ng-keyup="cancelev($event)" required="true" class="e-color" min="1" max="2000000000" disabled="true">
                <span ng-if="nuevoItemForm.cantidadsolicitada1.$invalid && nuevoItemForm.cantidadsolicitada1.$dirty" ></span>
            </label>
            <span ng-if="nuevoItemForm.cantidadsolicitada1.$error.required && nuevoItemForm.cantidadsolicitada1.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>
            <span ng-if="nuevoItemForm.cantidadsolicitada1.$error.min && nuevoItemForm.cantidadsolicitada1.$touched" class="help-block e-message">Ingrese un valor mayor a 0</span>
            <span ng-if="nuevoItemForm.cantidadsolicitada1.$error.max && nuevoItemForm.cantidadsolicitada1.$touched" class="help-block e-message">Ingrese un valor menor</span>

            <label ng-if="item.tipo.valor === '0'" ng-class="{'has-error':nuevoItemForm.cantidadsolicitada0.$invalid && nuevoItemForm.cantidadsolicitada0.$touched}">
                <input id="cantidadsolicitada" name="cantidadsolicitada0" type="number" placeholder="Cantidad Solicitada *" ng-model="item.cantidadSolicitada"  ng-keyup="cancelev($event)" required="true" class="e-color" min="1" max="2000000000">
                <span ng-if="nuevoItemForm.cantidadsolicitada0.$invalid && nuevoItemForm.cantidadsolicitada0.$dirty" ></span>
            </label>
            <span ng-if="nuevoItemForm.cantidadsolicitada0.$error.required && nuevoItemForm.cantidadsolicitada0.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>
            <span ng-if="nuevoItemForm.cantidadsolicitada0.$error.min && nuevoItemForm.cantidadsolicitada0.$touched" class="help-block e-message">Ingrese un valor mayor a 0</span>
            <span ng-if="nuevoItemForm.cantidadsolicitada0.$error.max && nuevoItemForm.cantidadsolicitada0.$touched" class="help-block e-message">Ingrese un valor menor</span>
            <br/>

            <label class="">
                <input id="cantidadaprobada" name="cantidadaprobada" type="text" placeholder="Cantidad Aprobada" ng-model="item.cantidadAprobada"  ng-keyup="cancelev($event)" class="e-color" disabled="true">
            </label>
            <br/>       

            <label class="" ng-class="{'has-error':nuevoItemForm.proveedor.$invalid && nuevoItemForm.proveedor.$touched}">
                <input id="proveedor" name="proveedor" type="text" placeholder="Proveedor" ng-model="item.proveedor"  ng-keyup="cancelev($event)" class="e-color">
                <span ng-if="nuevoItemForm.proveedor.$invalid && nuevoItemForm.proveedor.$dirty" ></span>
            </label>
            <span ng-if="nuevoItemForm.proveedor.$error.required && nuevoItemForm.proveedor.$touched" class="help-block e-message">Campo requerido, debe ingresar un valor</span>

            <br/>


            <label class="">
                <input id="almacen" name="almacen" type="text" placeholder="Almacén" ng-model="itemCabecera.almacen"  ng-keyup="cancelev($event)" class="e-color" disabled="true">
            </label>
            <br/>
            <!--
                                    <label class="">
                                        <input id="centrocosto" name="centrocosto" type="text" placeholder="Centro de Costo" ng-model="itemCabecera.nombreGrupoReq"  ng-keyup="cancelev($event)" class="e-color" disabled="true">
                                    </label>
                                    <br/>
            
                                     <label class="">
                                        <input id="proyecto" name="proyecto" type="text" placeholder="Proyecto" ng-model="itemCabecera.proyecto"  ng-keyup="cancelev($event)" class="e-color" disabled="true">
                                    </label>
            
            
                        <br/>-->
        </form>

    </ion-content>
    <script id="templates/searchSelect.html" type="text/ng-template">

        <div class="modal-fondo">
        <div class="modal-content">
        <center>

        <ion-modal-view>
        <ion-header-bar>
        <button class="button button-icon ion-close" ng-click="closeModal();"></button>
        <h1 class="title" style="right: 0 !important;" ng-if="searchSelect.enableSearch">
        <label class="item item-icon-left" style="height: 100%;top: -6px;padding: 0px 0px 0px 32px !important;">
        <i class="icon ion-android-search" style="font-size: 20px; left: 0 !important;top: 7px;"></i>
        <input type="text" placeholder="{{searchSelect.title}}" ng-model="searchSelect.searchvalue" style="width: 90%;height: 100%;margin-top: 7px;" />
        </label>
        <i ng-if="searchSelect.searchvalue.length > 0" on-tap="clearSearch()" class="icon ion-close" style="top:0px;right: 0px;position:absolute;cursor:pointer;z-index: 2;"></i>
        </h1>
        <h1 class="title" ng-if="!searchSelect.enableSearch">{{ searchSelect.title }}</h1>
        </ion-header-bar>
        <ion-content>
        <div class="list">
        <div ng-if="searchSelect.keyProperty && searchSelect.valueProperty">
        <ion-radio collection-repeat="option in options | filter: searchSelect.searchvalue" item-height="55px" item-width="100%" ng-value="option[searchSelect.keyProperty]" ng-click="saveOption()" ng-checked="option[searchSelect.selectedProperty]" ng-model="searchSelect.option">
        {{ option[searchSelect.valueProperty] }}
        </ion-radio>
        </div>
        <div ng-if="!searchSelect.keyProperty || !searchSelect.valueProperty">
        <ion-radio collection-repeat="option in options | filter: searchSelect.searchvalue" item-height="55px" ng-value="option" item-width="100%" ng-click="saveOption()" ng-model="searchSelect.option">
        {{ option }}
        </ion-radio>
        </div>
        </div>
        </ion-content>
        </ion-modal-view>

        </center>
        </div> 
        </div>

    </script>
    <ion-footer-bar align-title="center" class="letra-blanca" id="footer-item"> 
        <div class="button-bar borde-grupo-boton" style=" bottom: 5px;">
            <button class="button button-full button-positive-grupo borde-grupo-boton" ng-click="consultarstock(item)">CONSULTAR STOCK</button>
            <button class="button button-full button-positive-grupo borde-grupo-boton" ng-click="crearite(item, nuevoItemForm)">CREAR</button>
        </div> 
    </ion-footer-bar>
</ion-view>